CHROMA_PERSIST_DIR=./chroma_db
SQLITE_DB_PATH=./conversations.db
DEFAULT_EMBEDDING_MODEL=all-MiniLM-L6-v2
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=CogniFlow-Agent
